@model IEnumerable<laba1.Models.Client>

<h2>Самые старые клиенты</h2>

<table class="table">
    <tr>
        <th>ФИО</th>
        <th>Дата регистрации</th>
    </tr>

    @foreach (var c in Model)
    {
        <tr>
            <td>@c.FullName</td>
            <td>@c.RegistrationDate.ToShortDateString()</td>
        </tr>
    }
</table>